<?xml version="1.0"?>
<config>
    <modules>
        <Mhauri_Slack>
            <version>0.4.0</version>
        </Mhauri_Slack>
    </modules>
    <global>
        <helpers>
            <mhauri_slack>
                <class>Mhauri_Slack_Helper</class>
            </mhauri_slack>
        </helpers>
        <models>
            <mhauri_slack>
                <class>Mhauri_Slack_Model</class>
                <resourceModel>mhauri_slack_resource</resourceModel>
            </mhauri_slack>
            <mhauri_slack_resource>
                <class>Mhauri_Slack_Model_Resource</class>
                <entities>
                    <queue>
                        <table>slack_queue</table>
                    </queue>
                </entities>
            </mhauri_slack_resource>
        </models>
        <resources>
            <mhauri_slack_setup>
                <setup>
                    <module>Mhauri_Slack</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mhauri_slack_setup>
        </resources>

        <events>
            <sales_order_place_after>
                <observers>
                    <notifyNewOrder>
                        <class>Mhauri_Slack_Model_Observers_NewOrder</class>
                        <method>notify</method>
                    </notifyNewOrder>
                </observers>
            </sales_order_place_after>
            <admin_session_user_login_failed>
                <observers>
                    <notifyAdminUserLoginFailed>
                        <class>Mhauri_Slack_Model_Observers_AdminUserLoginFailed</class>
                        <method>notify</method>
                    </notifyAdminUserLoginFailed>
                </observers>
            </admin_session_user_login_failed>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <notifyNewCustomer>
                        <class>Mhauri_Slack_Model_Observers_NewCustomer</class>
                        <method>notify</method>
                    </notifyNewCustomer>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
        </events>

    </global>
    <adminhtml>
        <translate>
            <modules>
                <mhauri_hipchat>
                    <files>
                        <default>Mhauri_Slack.csv</default>
                    </files>
                </mhauri_hipchat>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <slack>
            <general>
                <enable_notification>0</enable_notification>
                <enable_log>0</enable_log>
                <use_queue>1</use_queue>
            </general>
            <api>
                <username>Magento Slack</username>
                <webhook_url/>
                <channel>#general</channel>
                <icon>:bell:</icon>
            </api>
            <notification>
                <new_order>0</new_order>
                <new_customer_account>0</new_customer_account>
                <admin_user_login_failed>0</admin_user_login_failed>
            </notification>
        </slack>
    </default>
    <crontab>
        <jobs>
            <mhauri_slack_queue_send_all>
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run><model>mhauri_slack/queue::sendQueuedMessages</model></run>
            </mhauri_slack_queue_send_all>
            <mhauri_slack_queue_clean_up>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>mhauri_slack/queue::cleanQueue</model></run>
            </mhauri_slack_queue_clean_up>
        </jobs>
    </crontab>
</config>